body {
    padding-top: 20px;
    padding-bottom: 30px;
}

.ww-nav > li {
    float: left;
    margin-left: 0;
}

.widget-blogcategories ul,.widget-blogarchives ul {
    list-style: none;
    text-align: left;
    margin: 0;
}

.main-content {
    margin-top: 30px;
    margin-bottom: 30px;
}

.line-right {
    margin-right: -1px;
    border-right: 1px solid #b2b8c1;
}

.line-left {
    margin-left: -1px;
    border-left: 1px solid #b2b8c1;
}

.line-bottom {
    margin-bottom: -1px;
    border-bottom: 1px solid #b2b8c1;
}

.post {
    padding-left: 10%;
    padding-right: 10%;
}

.side-bar {
    padding-right: 30px;
    padding-bottom: 50px;
}

.side-bar a,.side-bar h1 {
    text-align: right;
}

.side-bar li {
    font-family: 'Open Sans', sans-serif;
}

.image-section {
    display: block;
    text-align: center;
    font-size: smaller;
    font-style: italic;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.ww-nav > li.active > a {
    font-weight: 400;
}

ul.dropdown-menu > li.active-dropdown > a {
    text-decoration: underline;
}

ul.blog-posts li {
    margin-bottom: 30px;
    padding-bottom: 20px;
    text-align: justify;
}

.image-text {
    line-height: 4px;
}

.well.image-well {
    line-height: 20px;
}

.well.image-well img {
    margin-bottom: 13px;
}

.side-bar h1 {
    font-size: 22px;
    line-height: 30px;
}

.side-bar ul {
    margin-bottom: 10px;
}

.side-bar li.first {
    margin-top: -10px;
}

.bottom-space {
    margin-bottom: 30px;
}

h2,h3,h5,h6 {
    line-height: 25px;
}

h2 {
    margin: 0 0 20px;
    line-height: 30px;
}

h1 {
    line-height: 35px;
    margin: 0 0 20px;
}

h4 {
    text-align: justify;
    line-height: 25px;
    margin: 0 0 20px;
}

p {
    text-align: justify;
    text-indent: 20px;
    margin: 0 0 20px;
}

.well.logo {
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}

li.active a {
    color: #494e55;
}

input.text,input[type=text],input[type=password] {
    width: 96%;
}

textarea {
    width: 96%;
}

.contact-form label {
    text-indent: 7px;
}

.post li {
    text-align: justify;
}

iframe {
    border: none;
}

.flex-video {
    position: relative;
    padding-top: 25px;
    padding-bottom: 67.5%;
    height: 0;
    margin-bottom: 16px;
    overflow: hidden;
}

.flex-video.widescreen {
    padding-bottom: 57.25%;
}

.flex-video.vimeo {
    padding-top: 0;
}

.flex-video iframe,.flex-video object,.flex-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-device-width: 800px),only screen and (device-width: 1024px) and (device-height: 600px),only screen and (width: 1280px) and (orientation: landscape),only screen and (device-width: 800px),only screen and (max-width: 767px) {
    .flex-video {
    padding-top: 0;
}

}

.three-dots {
    background-image: url('../img/threedots.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 45px;
    padding-top: 35px;
}

.three-dots.first {
    padding-top: 0;
}

.three-dots.last {
    background-image: none;
}

.three-dots ul {
    margin-bottom: 0;
}

.three-dots .well {
    margin-top: 20px;
    margin-bottom: 10px;
}

ul.condensed li {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

h1#logo_text {
    margin: 0;
    text-align: left;
    font-size: 50px;
    letter-spacing: 0;
    color: #1980AF;
    text-decoration: none;
    position: relative;
    top: 35px;
    line-height: 45px;
}

h3#logo_font {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    position: relative;
    top: 35px;
    margin-bottom: 60px;
}

#logoimg {
    float: right;
    min-width: 347px;
    min-height: 150px;
}

.recaptchatable {
    background-color: #fff;
}
