{% extends "base.html" %}

{% block content %}
<h1>Karen Price</h1>
<h4 class="center">Doctorate in Applied Linguistics</h4>

<div class="post">
<p>
    As a graduate student in France, I completed a doctorate in Applied Linguistics and taught English as a foreign language. Returning to the US, I spent more than 20 years as a researcher and lecturer at Harvard University, specializing in issues of second language acquisition. As director of Harvard’s ESL teacher-training program for 12 of those years, I was responsible for the delivery of teacher-training to more than 600 second and foreign language teachers.
</p>

<p>
    As a consultant, I have enjoyed doing workshops and giving keynotes during 2–6 week trips to Singapore, Jamaica, Egypt, Japan, France, Venezuela, the UAE, the People’s Republic of China, and the Republic of China. In 2009, I served as an expert witness in a federal court case involving litigation between two large language software publishers.
</p>

<p>
    With grants from sources such as Apple, IBM, and the Exxon Educational Foundation, I have conducted research and developed early prototypes of technology now commonly used, such as lexical searching of audio and video. I have authored more than 20 articles and textbook chapters and consulted on multimedia projects for entities including the US State Department, Microsoft, Annenberg, USAID, AmidEast, Fulbright, and Kodak.
</p>

<p>
    I am presently a Visiting Scholar at Boston University, where I teach graduate level courses focused on theories of second language acquisition as well as computer-assisted language-learning.
</p>
</div>
{% endblock %}
