{% extends "base.html" %}

{% block content %}
<h1>Advisory Boards and Committees</h1>

<div class="post">
    <ul class="condensed">

        <li>
            <strong>
                Saybot Advisory Board: (language software for children with more than 4 million registered users), Shanghai, China
            </strong>
        </li>

        <li>
            <strong>
                Pearson Education Advisory Board: (online products)
            </strong>
        </li>

        <li>
            <strong>
                Northeastern University: IDEA Advisor for Northeaster University’s “Venture Accelerator”
            </strong>
        </li>

        <li>
            <strong>
                Holt, Rinehart and Winston: (second / foreign language and technology board)
            </strong>
        </li>

        <li>
            <strong>
                Annenberg Foundation & WGBH: grant-writer and advisor for 52-part ESL TV series
            </strong>
        </li>

        <li>
            <strong>
                IDMAG: (Information Document Management Advisory Group), a joint initiative among Harvard, Eastman-Kodak and McGraw-Hill to pilot customized textbooks
            </strong>
        </li>

        <li>
            <strong>
                Harvard University: President Bok’s Committee on Assessment
            </strong>
        </li>

        <li>
            <strong>
                Harvard University: Academic Computing Forum Planning
            </strong>
        </li>

        <li>
            <strong>
                Harvard University: Humanities Workstation Planning Committee
            </strong>
        </li>

        <li>
            <strong>
                Harvard University: Continuing Education Information Systems Committee
            </strong>
        </li>

        <li>
            <strong>
                Microsoft: Encarta Language Learning Software Advisory Board
            </strong>
        </li>

        <li>
            <strong>
                TESOL: founding member of CALL Interest Section; elected to TESOL Nominating Committee
            </strong>
        </li>

        <li>
            <strong>
                Bank Street College: (Evaluation of Writer’s Workbench software)
            </strong>
        </li>

        <li>
            <strong>
                Classroom Earth: (a conduit between schools and educational events broadcast by satellite in conjunction with NASA and SCOLA (Satellite Communication for Learning Worldwide)
            </strong>
        </li>

        <li class="last">
            <strong>
             City University of New York: (planning board for language technology conference)
         </strong>
     </li>


    </ul>
</div>
{% endblock %}
