{% extends "base.html" %}

{% block content %}
<h1>Selected Presentations</h1>

<div class="post">
    <ul class="condensed">

                    <li>
                        <strong>
                            Multimodal Interfaces: Blending Gaze, Gesture, Movement and Speech to Overcome the Limitations of Keyboard, Mouse, & Touchscreen
                        </strong>
                        <br>
                        WorldCALL, Glasgow, Scotland, 2013.
                    </li>

                    <li>
                        <strong>
                            ICALL (Intelligent Computer Assisted Language Learning) Applications: The Integration of Handwriting Recognition and the Haptics of Learning
                        </strong>
                        <br>
                        TESOL, (Teachers of English to Speakers of Other Languages), 2012.
                    </li>

                    <li>
                        <strong>
                            Using Technology to Promote L2 Language Skills: Workshops sponsored by US Department of State and Taiwan Department of Education
                        </strong>
                        <br>
                        Kaohsiung &amp; Miaoli, Taiwan, 2011.
                    </li>

                    <li>
                        <strong>
                            Paper-Based Computing
                        </strong>
                        <br>
                        CALICO, (Computer Assisted Language Instruction Consortium), Victoria, Canada, 2011.
                    </li>

                    <li>
                        <strong>
                            Using Technology for Conversation Analysis of Second Language Classroom Discourse
                        </strong>
                        <br>
                        CALICO, (Computer Assisted Language Instruction Consortium), Amherst, Massachusetts, 2010.
                    </li>

                    <li>
                        <strong>
                            The Emergent Role of Educators in Evolving E-Learning Environments
                        </strong>
                        <br>
                        TESOL, (Teachers of English to Speakers of Other Languages), Boston, 2010.
                    </li>

                    <li>
                        <strong>
                            How Technologies of the Future will Shape our Teaching: Mobile and Social Technologies”
                        </strong>
                        <br>
                        TESOL, (Teachers of English to Speakers of Other Languages), Denver, 2009.
                    </li>

                    <li>
                        <strong>
                            Future Visions of CALL (Computer-Assisted Language Learning)
                        </strong>
                        <br>
                        TESOL (Teachers of English to Speaker of Other Languages), San Antonio, Texas, 2005.
                    </li>

                    <li>
                        <strong>
                            Mobile Technology: Teaching ESOL on the Fly
                        </strong>
                        <br>
                        TESOL (Teachers of English to Speaker of Other Languages), Tampa, FL, 2006.
                    </li>

                    <li>
                        <strong>
                            How Might Digital Technologies Discourage Language Learning?
                        </strong>
                        <br>
                        TESOL (Teachers of English to Speakers of Other Languages), Seattle, WA, 2007.
                    </li>

                    <li>
                        <strong>
                            What Can Some of the Emerging Technologies do for Language Literacy?
                        </strong>
                        <br>
                        Language &amp; Literacy Department, Harvard Graduate School of Education, 2007.
                    </li>

                    <li>
                        <strong>
                            Speech Analytics Software: Content and Speech Recognition
                        </strong>
                        <br>
                        TESOL, (Teachers of English to Speakers of Other Languages), New York, 2008.
                    </li>

                    <li class="last">
                        <strong>
                            Machine Translation Technologies and the Future of Multilingualism
                        </strong>
                        <br>
                        IALLT (The International Association for Language Learning Technology), Tufts University, Medford, MA, 2007.
                    </li>

    </ul>
</div>
{% endblock %}
