{% extends "base.html" %}

{% block content %}
<h1>Consulting</h1>

<div class="post three-dots first">
    <h3>I can assist you with:</h3>
    <ul>
        <li>
            Identifying technology best-suited for your project or grant proposal
        </li>
        <li>Proposing a viable project scope</li>
        <ul>
            <li>For the context of developing countries, or</li>
            <li>
                For the integration of emerging technologies not yet commonly used
            </li>
        </ul>
        <li>Creating prototypes</li>
        <li>
            Directing materials development for technology-enhanced projects
        </li>
    </ul>
</div>

<div class="post three-dots">
    <h3>My experience includes:</h3>
    <ul>
        <li>Brainstorming and advising</li>
        <li>
            Matching goals and resources to appropriate technologies for language, teaching, research, materials development
        </li>
        <li>Teacher-training</li>
        <li>
            Finding cost-effective, sustainable implementations of technology
        </li>
        <li>Finding imaginative solutions for challenging contexts</li>
    </ul>
</div>

<div class="post three-dots last">
    <h3>My interests include:</h3>
    <ul>
        <li>Mobile phone use for language learning</li>
        <li>Mobile technologies for speech and data collection</li>
        <li>Tablets and touchscreens</li>
        <li>
            Technologies for searching multimedia using words and phrases
        </li>
        <li>Movement and gesture-based technologies</li>
        <li>Speech-to-speech translation devices</li>
        <li>Computer-assisted translation</li>
        <li>Pentop and paper-based computing</li>
        <li>Touchscreen technologies</li>
        <li>Speech recognition</li>
        <li>Speech analytics</li>
        <li>Automated text-summarizing technologies</li>
        <li>Speech-to-text and text-to-speech technologies</li>
    </ul>
</div>

{% endblock %}
