{% extends "base.html" %}

{% block content %}
<h1>Advisory Boards and Committees</h1>

<div class="post">
    <ul class="condensed">
        <li>
            <strong>
                Digital Learning Summit Conference, Shanghai, China, 2011.
            </strong>
        </li>

        <li>
            <strong>
                VenTESOL Conference, Caracas, Venezuela, 2010.
            </strong>
        </li>

        <li>
            <strong>
                NERALLT Conference, Harvard University, Cambridge, MA, 2006
            </strong>
        </li>

        <li>
            <strong>
                TexTESOL Annual Conference, Austin, Texas, 1997.
            </strong>
        </li>

        <li>
            <strong>
                ITELL Conference on Information Technology, National University of Singapore, 1997.
            </strong>
        </li>

        <li>
            <strong>
                Harvard University Gateways Conference (Harvard College Libraries), Cambridge, MA 1993.
            </strong>
        </li>
    </ul>
</div>
{% endblock %}
