{% extends "base.html" %}

{% block content %}
    <div class="three-dots post first">

        <h1>Independent Projects</h1>

        <ul>
            <li>
                Software for development of "graded" audio and print materials
            </li><li>
                Concordancing software for print, audio, and video materials
            </li><li>
                Multimedia software to automatically locate and play video segments containing target words or phrases.
            </li><li>
                Musical Staircase
            </li><li>
                Computer-assisted system which aids classroom discourse analysis by keeping track of who is talking when and synchronizing those events to the videotaped classroom session.
            </li><li>
                Handwriting-recognition:  An evaluation and comparison of cognitive differences between: pen-based and stylus-based conditions, and write-to-hear and hear-to-write conditions
            </li>
        </ul>

        <div class="well image-well">
            <span class="image-section">
                <div class="flex-video widescreen">
                    <iframe src="http://www.youtube.com/embed/BB6gjiKE36c"></iframe>
                </div>
                <span class="image-text">
                    Handwriting recognition: Stylus-based write-to-hear experimental condition
                </span>
            </span>
        </div>

        <div class="well image-well">
            <span class="image-section">
                <div class="flex-video widescreen">
                    <iframe src="http://www.youtube.com/embed/ABZ6EFi_Kos"></iframe>
                </div>
                <span class="image-text">
                    Handwriting recognition: Paper-based write-to-hear experimental condition
                </span>
            </span>
        </div>


        <div class="well image-well">
            <span class="image-section">
                <div class="flex-video widescreen">
                    <iframe src="http://www.youtube.com/embed/QtL5Ju6Z1lk"></iframe>
                </div>
                <span class="image-text">
                    Handwriting recognition with the LiveScribe pen
                </span>
            </span>
        </div>


    </div>

    <div class="three-dots post">
        <h1>Awards</h1>

        <ul>
            <li>
            “Innovation in Product Development”, from Disney Publishing Worldwide for
            English-language-learning multimedia product co-authored with Anne Dow, Frankfurt Book Fair,
            Frankfurt, Germany (2001)
            </li>

            <li>
            Apple Classroom of Tomorrow Award from Apple Computer for prototyping of multimedia software to
            automatically locate and play video segments containing target words or phrases (1991)
            </li>

            <li>
            Joe Wyatt Award at EDUCOM Conference for multimedia project (1990)
            </li>

        </ul>
    </div>

    <div class="three-dots last post">
        <h1>Anne Dow Associates</h1>

        <ul>

            <li>
            Disney’s <i>World of English</i>
            </li>

            <li>
            English-as-a-foreign-language modules for Leapfrog’s TouchPad, a tactile multimedia platform
            and interface for young learners.
            </li>

            <li>
            Touchpad-based prototype with digitized audio
            </li>

            <li>
            Design of CD-ROMs for young children with associated stuffed animal embedded with a
            speech recognition chip and tactile sensor as substitute for computer mouse
            </li>

            <li>
            "Talking" card game for Japanese children learning English
            </li>

            <li>
            "Talking" board game with playing pieces and cards for Japanese children learning English
            </li>

        </ul>
    </div>
{% endblock %}
