{% extends "base.html" %}

{% block content %}
<h1>Selected Publications</h1>

<div class="post">
    <ul class="blog-posts">

        <li>
                I have authored more than 20 papers, articles, and chapters published by MIT Press, Cambridge University Press, Language and Communication Review, CALL Digest, CAELL Digest, CrossCurrents:  An International Journal of Language Teaching and Intercultural Communication.
        </li>

        <li><strong>
            <a href="http://newsmanager.commpartners.com/tesolalis/issues/2011-06-14/5.html">2011. Computer-Assisted Transcription and Analysis:</a> Software Tools for Qualitative Research TESOL Applied Linguistics Forum Newsletter, Arlington, VA: TESOL.  (Last accessed 9 March, 2012).
        </strong></li>

        <li><strong>
            2009. Afterword: The Future is Now. In P. Hubbard (Ed.), Computer Assisted Language Learning: Critical Concepts in Linguistics, Volumes I-IV, 427-444. London &amp; New York: Routledge.
        </strong></li>

        <li><strong>
            2007. Afterword: The Future is Now. In J. Egbert and E. Hanson-Smith, (Eds.), CALL Environments: Research, Practice, and Critical Issues. Alexandria, VA: TESOL Publications, 437-454.
        </strong></li>

        <li><strong>
            1997. Information Processing and the Processing of Information. In Lawrence Dowler (Ed.), Gateways to Knowledge: The Role of Academic Libraries in Teaching, Learning and Research, 169-180. Cambridge: MIT Press.
        </strong></li>

        <li><strong>
            1996. How Technology Changes the Way We Teach and Learn. Language and Communication Review, (2), 9-21.
        </strong></li>

        <li class="last"><strong>
            <a href="/static/misc/discourse.pdf">1992. Look Who’s Talking:</a> A Computer-Assisted System for Discourse Analysis. Cross Currents, 73-79.
        </strong></li>

    </ul>
</div>
{% endblock %}
