{% extends "base.html" %}

{% block content %}
<div class="post"></div>
<h1>Courses and Workshops</h1>
<div class="post">
    <ul>
        <li>
            <strong>Boston University (Graduate School of Education)</strong>
        </li>
            <ul>
                <li>
                    Second Language Acquisition (2009-present)
                </li><li>
                    Computer-Assisted Language Learning (2010-present)
                </li>
            </ul>

        <li>
            <strong>Harvard University (Graduate School of Education)</strong>
        </li>
            <ul>
                <li>
                    Educational Contexts for Emerging Technology Outside Educational Settings (1999-2004)
                </li><li>
                    New Technologies and Second Language Acquisition (1999-2004)
                </li>
            </ul>

        <li>
            <strong>Harvard University Extension School</strong>
        </li>
            <ul>
                <li>
                    Theory and Practice of Teaching English as a Second and Foreign Language (with Professor Wilga Rivers and Anne Dow, 1981-1993)
                </li>
            </ul>

        <li>
            <strong>US Department of State</strong>
        </li>
        <ul>
            <li>
                CALL (Computer-Assisted Language Learning) workshops in Kaohsiung and Miaoli, Taiwan for primary school teachers (2011)
            </li>

            <li>
                CALL / SLA (Second Language Acquisition) workshops at Universidad Valle del Momboy, and Maracaibo, Venezuela (2010)
            </li>
        </ul>

        <li>
            <strong>AmidEast</strong>
        </li>
            <ul>
                <li>
                    Configuration and use of technology for the Military Language Institute in the United Arab Emirates (1999)
                </li>
            </ul>

        <li>
            <strong>Jamaican Ministry of Education</strong>
        </li>
            <ul>
                <li>
                    USAID-funded project regarding integration of technology in primary school curriculum (New Horizons Project) (1998)
                </li>
            </ul>

        <li>
            <strong>USAID, Binational Fulbright Committee</strong>
        </li>
            <ul>
                <li>
                    Integration of Served in Egypt as a consultant on incorporation of technology in University-level courses across the curriculum.. Lectured, and trained faculty at University of Sohag (1996)
                </li>
            </ul>
    </ul>
</div>
{% endblock %}
